

.a-tag {
  text-decoration: none;
  color: inherit !important;
  height: 425px;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 850px;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_wrapper {
  width: 350px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  height: 430px;
  border: 1px solid #DEDCDC;
  border-radius: 6px;
  background: #E4F2F9;
  display: flex;
  flex-direction: column;
  background-image: url("https://bit.ly/2JmoW1a");
  background-size: contain;
  background-repeat: no-repeat;
}

a:nth-child(2) .card_wrapper {
  background-image: url("https://bit.ly/2PVTmcQ");
}

a:nth-of-type(3) .card_wrapper {
  background-image: url("https://bit.ly/2z3jxHq");
}

a:nth-of-type(4) .card_wrapper {
  background-image: url("https://bit.ly/2PWFTSb");
}

.project_summary {
  margin-top: 260px;
  postion: relative;
  padding: 0 20px;
  background: #fff;
  flex: 1;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.project_title {
  margin-bottom: 0;
  padding-top: 15px;
  color: #5D6771;
}

.created_date {
  margin: 10px 0;
  color: #8A8EA0;
}

.project_desc {
  margin: 0;
  font-weight: 300;
  width: 100%;
}

a:hover .card_wrapper {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09);
  -webkit-transform: scale3d(1.008, 1.008, 1);
          transform: scale3d(1.008, 1.008, 1);
}


.projectHeader {
  padding-top: 20%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  padding-bottom: 3%;
  font-size:4vw;
}