@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

//NAVBAR LOGO-----------------------------------
.navbar-brand{
    font-family: 'Libre Baskerville', serif;
    padding-left: 8%;
}    
.fv {
    font-family: 'Permanent Marker', cursive;
    
}

//NAVBAR--------------------------------
.navbar {
  background-color: #fbf7f5;
}



//NAVBAR LINKS--------------------------------

.nav-link{
   font-family: 'Roboto', sans-serif;
}

